---
type Props = {
  title: string
  metaTitle?: string
  description: string
}

const { title, metaTitle, description } = Astro.props
---

<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />

<title>{title}</title>
<meta name="title" content={metaTitle ? metaTitle : title} />
<meta name="description" content={description} />

<!-- <link rel="preload" as="image" href="/noise-texture.webp" />
<link
  rel="preload"
  as="font"
  href="/fonts/source-serif-pro-regular.woff2"
  type="font/woff2"
  crossorigin
/> -->

<link
  rel="preload"
  as="font"
  href="/fonts/source-serif-pro-regular.woff2"
  type="font/woff2"
  crossorigin
/>

<link
  rel="preload"
  as="font"
  href="/fonts/source-serif-pro-italic.woff2"
  type="font/woff2"
  crossorigin
/>

<link
  rel="preload"
  as="font"
  href="/fonts/source-serif-pro-600.woff2"
  type="font/woff2"
  crossorigin
/>

<link
  rel="preload"
  as="font"
  href="/fonts/source-serif-pro-700.woff2"
  type="font/woff2"
  crossorigin
/>
