---
import { SITE } from "../../consts"
type Props = {
  title: string
  metaTitle?: string
  description: string
  keywords?: string[]
}

const { title, metaTitle, description, keywords = [] } = Astro.props

const keywordsArr = [...SITE.KEYWORDS, ...keywords]
---

<meta charset="utf-8" />

<link rel="sitemap" href="/sitemap-index.xml" />
<link rel="manifest" href="/manifest.json">

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />

<title>{title}</title>
<meta name="title" content={metaTitle ?? title} />
<meta name="description" content={description} />
<meta name="theme-color" content="#18181b" />

<meta name="keywords" content={keywordsArr.join(",")} />

<!--Fonts-->
<link
  rel="preload"
  as="font"
  href="/fonts/source-serif-pro-regular.woff2"
  type="font/woff2"
  crossorigin
/>
<link
  rel="preload"
  as="font"
  href="/fonts/source-serif-pro-italic.woff2"
  type="font/woff2"
  crossorigin
/>
<link
  rel="preload"
  as="font"
  href="/fonts/source-serif-pro-600.woff2"
  type="font/woff2"
  crossorigin
/>
<link
  rel="preload"
  as="font"
  href="/fonts/source-serif-pro-700.woff2"
  type="font/woff2"
  crossorigin
/>
<!--#Fonts-->
