---
import BaseLayout from "../layouts/BaseLayout.astro"
import Draws from "../components/about/Draws.astro"
import Movies from "../components/about/Movies.astro"
import Books from "../components/about/Books.astro"
import { SITE } from "../consts.ts"
import songs from "../data/songs.json"
---

<BaseLayout
  title={`${SITE.TITLE} · About`}
  description="Sobre Michelangelo y sus gustos como introducción a su blog personal"
>
  <meta slot="meta" name="robots" content="noindex" />
  <div class="max-w-screen-lorem mx-auto">
    <section class="pt-12 pb-14">
      <div class="relative">
        <!-- <div
          class="absolute w-44 h-20 gradient blur-background-effect opacity-25 top-0 left-4 blur-3xl pointer-events-none"
        >
        </div>
        <h1
          class="text-4xl md:text-5xl font-bold gradient background-gradient-effect text-transparent bg-clip-text"
        >
          About <small set:html="<コ:彡" />
        </h1> -->
        <h1 class="text-5xl md:text-6xl font-bold text-textColor-primary">
          About <small set:html="<コ:彡" />
        </h1>
      </div>
    </section>
    <article class="text-lg leading-relaxed max-w-screen-md">
      <div>
        <p class="book-line">
          Llamadme Michelangelo. Soy alguien con muchos intereses, y que a veces
          se obseciona con algún tema en particular durante días o semanas sin
          ningún motivo. Para que estas divagaciones mías no solo se queden en
          solo eso, <em>“mías”</em>, pensé en crear un blog para poder escribir
          sobre estas y no queden en nada. Tal vez incluso le puedan servir a
          alguien.
        </p>
        <p>
          Actualmente, trabajo por horas como desarrollador fullstack en <a
            href="https://if7sports.com/"
            target="_blank">IF7Sports</a
          >.
        </p>
      </div>

      <section>
        <h2>Dibujo</h2>
        <p>
          Llevo dibujando desde que tengo uso de razón, pero hoy día solo hago
          algún dibujo suelto en uno de mis sketchbooks cada cierto tiempo. Cada
          vez me enfoco más en el diseño, pero hace unos años me centré bastante
          en el dibujo anatómico.
        </p>
        <Draws />
      </section>

      <section>
        <h2>Música</h2>
        <p>
          Desde los 8 años que llevo tocando la guitarra española. También
          aprendí a tocar la guitarra eléctrica, el ukelele, el piano y el bajo.
          Nunca me enfoqué en dominar estos instrumentos, sobre todo lo que
          quería era hacer música en <strong>GarageBand</strong> y <strong
            >FLStudio</strong
          >.
        </p>
        <div role="list" class="grid sm:grid-cols-2 gap-y-8">
          {
            songs.map(({ title, src }) => (
              <article role="listitem">
                <label>
                  <em>{title}</em>
                </label>
                <audio controls>
                  <source src={`/music/${src}`} />
                </audio>
              </article>
            ))
          }
        </div>
      </section>

      <section>
        <h2>Demás cosas</h2>
        <section>
          <h3>Cine</h3>
          <p>
            Hace pocos años me adentré con fuerza en el cine, sobre todo me
            gustó la dirección cinematográfica con directores como <strong
              >Stanley Kubrick</strong
            > o <strong>Bong Joon-ho</strong>. Disfruto mucho ver películas de
            todo tipo y también ver vídeos analizándolas.
          </p>
          <Movies />
        </section>
        <section>
          <h3>Libros</h3>
          <p>
            Empezar a leer fue una decisión muy consiente pues consideraba que
            sería un buen hábito. Comencé con la ciencia ficción, después me dio
            por leer mucho sobre divulgación científica y matemática; sobre todo
            leía a <strong>Issac Asimov</strong>. Aunque no soy mucho de
            fantasía, disfruto mucho leyendo a <strong>Brandon Sanderson</strong
            > y
            <strong>Michael Ende</strong>.
          </p>
          <Books />
        </section>
      </section>

      <section>
        <h2>Programación</h2>
        <p>
          Empezé a programar a los 14 año, pero no fue hastas los 17 que me lo
          tomé en serio. He programado en C, Python, Lua, PHP, C# y Rust; pero
          los lenguajes que más uso actualmente son <strong>JavaScript</strong>
           y <strong>TypeScript</strong>. Trabajo en su mayoria con <strong
            >Angular</strong
          >, <strong>Bootstrap</strong>,
          <strong>NodeJs</strong>, <strong>Express</strong>, <strong
            >MongoDB</strong
          > y <strong>Mongoose</strong>; pero también he visto (un poco más o un
          poco menos) de Deno, Bun, Astro, TailwindCSS, Fresh, React, Flask,
          Nestjs, MySQL y Prisma. No solo quise aprender desarrollo web, así que
          aprendí otras cosas como
          <strong>Docker</strong> y Rust para tocar más ramas.
        </p>
        <ul class="my-6 space-y-4 list-disc pl-8">
          <li>
            <a
              class="prog"
              href="https://github.com/michelangelo-valderrama/game-of-life"
              >[Conway's Game of Life]</a
            > ~ El juego de la vida de Conway con Bun y TypeScript.
          </li>
          <li>
            <a
              class="prog"
              href="https://github.com/michelangelo-valderrama/python-mini-projects"
              >[Python Mini Projects]</a
            > ~ Algunos proyectos con Python sobre matemáticas y animaciones
            matemáticas con <a
              href="https://www.manim.community/"
              target="_blank">Manim</a
            >.
          </li>
          <li>
            🚧 <a
              class="prog"
              href="https://github.com/michelangelo-valderrama/neoTodoList"
              >[Neo Todo List]</a
            > ~ Un todo list con Angular, Nestjs y MongoDB.
          </li>
        </ul>
      </section>
    </article>
  </div>
</BaseLayout>

<style>
  h2 {
    @apply mt-14 mb-4 pb-0.5 text-2xl md:text-3xl font-bold text-textColor-primary border-b border-borderColor-gray;
  }

  h3 {
    @apply mt-4 text-textColor-primary font-bold;
  }

  em {
    @apply text-textColor-teriary;
  }

  strong {
    @apply text-textColor-primary;
  }

  p {
    @apply mb-4 text-textColor-secondary;
  }

  a {
    @apply underline underline-offset-4 text-textColor-accent;
  }

  .prog {
    @apply no-underline text-textColor-accent-indigo hover:bg-textColor-accent-indigo/20;
  }

  img {
    aspect-ratio: calc(attr(width) / attr(height));
  }

  /* .gradient {
    background-image: linear-gradient(
      135deg,
      hsl(269deg 97% 71%) 0%,
      hsl(274deg 96% 70%) 15%,
      hsl(280deg 93% 69%) 21%,
      hsl(285deg 91% 67%) 26%,
      hsl(290deg 88% 65%) 30%,
      hsl(295deg 85% 63%) 34%,
      hsl(300deg 82% 61%) 38%,
      hsl(304deg 91% 60%) 42%,
      hsl(308deg 100% 60%) 46%,
      hsl(314deg 100% 61%) 50%,
      hsl(320deg 100% 63%) 54%,
      hsl(327deg 100% 65%) 58%,
      hsl(334deg 100% 68%) 62%,
      hsl(341deg 100% 70%) 67%,
      hsl(348deg 100% 73%) 73%,
      hsl(354deg 93% 74%) 81%,
      hsl(0deg 80% 75%) 99%
    );
  } */
</style>
