---
import BaseLayout from '../layouts/BaseLayout.astro'
import LastPost from '../components/Index/LastPost.astro'
import PostsByYear from '../components/Index/PostsByYear.astro'
---

<BaseLayout>
  <section slot="header">
    <h1>Index Header</h1>
  </section>

  <article>
    <LastPost />
    <PostsByYear />
  </article>
</BaseLayout>
