---
import BaseLayout from "../layouts/BaseLayout.astro";
import LastPost from "../components/Index/LastPost.astro";
import PostsByYear from "../components/Index/PostsByYear.astro";
import { SITE } from "../consts";
---

<BaseLayout>
  <meta slot="meta" name="robots" content="all" />
  <script
    type="application/ld+json"
    set:html={JSON.stringify({
      "@context": "https://schema.org",
      "@type": "Organization",
      url: SITE.URL,
      logo: `${SITE.URL}/${SITE.LOGO}`,
    })}
    slot="meta"
  />
  <div class="max-w-screen-lorem mx-auto">
    <section
      class="text-textColor-primary text-center flex align-middle justify-center"
    >
      <div class="mt-28 md:mt-36 mb-40 md:mb-52 relative">
        <div
          class="absolute w-full h-36 gradient opacity-25 top-0 left-0 blur-3xl pointer-events-none"
        >
        </div>
        <h1
          class="animate-[contentShowUp_400ms_ease] text-6xl md:text-8xl font-bold gradient text-transparent bg-clip-text"
        >
          Neo Lorem
        </h1>
        <p class="animate-[contentShowUp_800ms_ease] text-xl mt-2">
          <em
            >por <a
              href="/about"
              class="filledEffect hover:text-background transition-all"
              >{SITE.ME}</a
            ></em
          >
        </p>
      </div>
    </section>
    <div
      class="bg-gradient-to-l from-textGradient-sky/10 via-textGradient-purple to-textGradient-pink/10 h-[1px] w-52 mx-auto opacity-60 rounded-full"
    >
    </div>
    <article>
      <LastPost />
      <PostsByYear />
    </article>
  </div>
</BaseLayout>

<script>
  import { getAnalytics } from "firebase/analytics";
  import { initializeApp } from "firebase/app";

  const firebaseConfig = {
    apiKey: "AIzaSyCOTvBJIn-tu61sKs6KP9v1nFqUkGYpQl4",
    authDomain: "neo-lorem.firebaseapp.com",
    projectId: "neo-lorem",
    storageBucket: "neo-lorem.appspot.com",
    messagingSenderId: "906925394003",
    appId: "1:906925394003:web:7de880e224529bba3a1ea6",
    measurementId: "G-HQDS5TXYLF",
  };

  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
</script>

<style>
  .gradient {
    background-image: linear-gradient(
      315deg,
      hsl(173deg 92% 71%) 0%,
      hsl(200deg 92% 69%) 13%,
      hsl(228deg 91% 66%) 25%,
      hsl(255deg 91% 64%) 37%,
      hsl(283deg 91% 61%) 50%,
      hsl(302deg 91% 64%) 63%,
      hsl(321deg 91% 66%) 75%,
      hsl(341deg 91% 68%) 87%,
      hsl(0deg 91% 71%) 100%
    );
  }

  .filledEffect {
    background: linear-gradient(#000 0 0) bottom no-repeat;
    background-size: 100% 0.1rem;
  }

  :global(.dark) .filledEffect {
    background: linear-gradient(#fff 0 0) bottom no-repeat;
    background-size: 100% 0.1rem;
  }

  .filledEffect:hover {
    background-size: 100% 100%;
  }
</style>
