---

---

<article
  id="scroll-elem"
  class="top-element scroll-visibility fixed top-[64px] md:top-[76px] left-0 w-full bg-background/80 backdrop-blur-md pt-3 md:pt-4 pb-1 transition-all z-10 up"
>
  <nav class="flex md:text-base justify-center font-semibold">
    <slot />
  </nav>
</article>

<style>
  .scroll-visibility.up {
    transform: translateY(0);
    transition-duration: 300ms;
    opacity: 1;
  }
  .scroll-visibility.down {
    transform: translateY(-50px);
    transition-duration: 500ms;
    opacity: 0;
    visibility: hidden;
  }
</style>

<script>
  import { showNav } from "../../scripts/showNav"

  const scrollHandler = showNav(".scroll-visibility")
  window.addEventListener("scroll", scrollHandler)
</script>
