---
import HeaderNav from "./HeaderNav.astro"
import HeaderLink from "../HeaderLink.astro"
import { URLS_MAP } from "../../consts"
import ToggleTheme from "./ToggleTheme.astro"
import FavIcon from "../ui/icons/FavIcon.astro"
---

<div class="mb-[108px]">
  <article
    class="fixed top-0 left-0 w-full bg-background/60 backdrop-blur-md border-b border-borderColor-gray z-20"
  >
    <div
      class="max-w-screen-2xl mx-auto flex justify-between py-2 px-6 md:px-8"
    >
      <a href="/" class="active:scale-90 transition-transform w-10 h-10 flex items-center justify-center">
        <FavIcon class="pointer-events-none" />
      </a>
      <menu class="flex gap-x-4 items-center text-textColor-secondary">
        <li>
          <ToggleTheme />
        </li>
        <!-- <li>
          <button
            type="button"
            class="w-9 h-9 md:w-10 md:h-10 flex items-center justify-center bg-button/80 hover:text-textColor-accent hover:border-[3px] border-borderColor-accent box-border rounded-lg hover:shadow-textColor-accent/40 hover:shadow-[0_2px_40px_-4px] focus:scale-90 transition-all"
          >
            <CommandIcon class="w-5 h-5" />
          </button>
        </li> -->
      </menu>
    </div>
  </article>
  <HeaderNav>
    {
      URLS_MAP.map(({ href, title }, index) => (
        <>
          <span class="text-textColor-secondary/80 hover:text-textColor-primary transition">
            <HeaderLink href={href} title={title} class="px-6 py-2" />
          </span>
          {URLS_MAP.length !== index + 1 && (
            <span class="select-none pb-2">|</span>
          )}
        </>
      ))
    }
  </HeaderNav>
</div>
