---
import HeaderNav from "./HeaderNav.astro"
import HeaderLink from "../HeaderLink.astro"
import { URLS_MAP } from "../../consts"
---

<div class="mb-[118px]">
  <article
    id="header-container"
    class="fixed top-0 left-0 w-full bg-background/80 backdrop-blur-md border-b border-borderColor-gray z-20 transition-all"
  >
    <div
      id="header-content"
      class="max-w-screen-2xl mx-auto flex justify-between py-4 px-6 md:px-8 transition-all"
    >
      <a href="/" class="active:scale-90 transition-transform">
        <img
          class="pointer-events-none w-8 md:w-11"
          src="/favicon.svg"
          alt="Logo del blog"
          height={44}
          width={44}
        />
      </a>
      <!-- <menu class="flex gap-4">
          <ul>light</ul>
          <ul>command</ul>
        </menu> -->
    </div>
  </article>
  <HeaderNav>
    {
      URLS_MAP.map(({ href, title }, index) => (
        <>
          <span class="hover:text-textColor-primary">
            <HeaderLink href={href} title={title} class="px-6 py-2" />
          </span>
          {URLS_MAP.length !== index + 1 && (
            <span class="select-none pb-2">|</span>
          )}
        </>
      ))
    }
  </HeaderNav>
</div>
