---
import TableOfContents from "./TableOfContents.astro"
import type { MarkdownHeading } from "astro"

interface Props {
  headings: MarkdownHeading[]
}

const { headings } = Astro.props
---

<aside class="hidden xl:block fixed right-4 top-36">
  <div
    class="border border-borderColor-gray py-4 px-6 bg-background box-content w-60 2xl:w-80 max-h-[65vh] overflow-y-scroll"
  >
    <h2 class="text-xl font-semibold mb-2">Tabla de Contenidos</h2>
    <TableOfContents
      headings={[
        {
          depth: 2,
          slug: "",
          text: "Inicio",
        },
        ...headings,
      ]}
    />
  </div>
</aside>
