---
import FormattedDate from "../FormattedDate.astro"
import { getCollection } from "astro:content"

const blog = (
  await getCollection("blog", ({ data }) => {
    const dateNow = new Date()
    return data.pubDate.getFullYear() === dateNow.getFullYear()
  })
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())

const lastPost = blog[0]
---

<section class="mt-12 max-w-screen-md mx-auto">
  <p class="sm:text-center sm:mb-2">
    <FormattedDate date={lastPost.data.pubDate} />
  </p>
  <div class="sm:grid sm:grid-cols-2 sm:gap-4 items-center">
    <a href={`/blog/${lastPost.slug}`} class="block sm:text-right group">
      <h2
        class="font-semibold text-4xl text-textColor-primary group-hover:text-textColor-accent transition"
      >
        {lastPost.data.title}
      </h2>
      <div
        class="sm:ml-auto h-[2px] w-12 group-hover:w-24 rounded-lg bg-textColor-primary group-hover:bg-textColor-accent mt-2 transition-all"
      >
      </div>
    </a>
    <div class="mt-2 sm:mt-0">
      <p class="text-lg">{lastPost.data.description}</p>
    </div>
  </div>
</section>
