---
import FormattedDate from '../FormattedDate.astro'
import { getCollection } from 'astro:content'

const blog = (
  await getCollection('blog', ({ data }) => {
    const dateNow = new Date()
    return data.pubDate.getFullYear() === dateNow.getFullYear()
  })
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())

const lastPost = blog[0]
---

<section>
  <p><FormattedDate date={lastPost.data.pubDate} /></p>
  <article>
    <h2
      class="font-title text-4xl bg-gradient-to-br from-brand-secondary to-brand-primary text-transparent bg-clip-text"
    >
      <a href={`/blog/${lastPost.slug}`}>
        {lastPost.data.title}
      </a>
    </h2>
  </article>
</section>
