---
import HeadCommon from "../components/seo/HeadCommon.astro"
import Header from "../components/Header/Header.astro"
import Footer from "../components/Footer/Footer.astro"
import BaseStyles from "../components/GlobalStyles.astro"
import { SITE } from "../consts.ts"

type Props = {
  title?: string
  description?: string
  class?: string
  keywords?: string[]
}

const { title, class: className, description } = Astro.props
---

<!doctype html>
<html
  lang="es"
  class:list={[
    "font-serif selection:bg-textColor-accent selection:text-background",
    className,
  ]}
>
  <head class="min-h-screen">
    <HeadCommon title={title ?? SITE.TITLE} description={description} />
    <slot name="meta" />
    <BaseStyles />
  </head>
  <body
    class="bg-background text-textColor-secondary break-words overflow-x-hidden"
  >
    <Header />
    <slot name="header" />
    <main class="px-6 mx-auto min-h-screen">
      <slot />
    </main>
    <Footer />
    <!-- <style>
      body::before,
      body::after {
        position: fixed;
        left: 0;
        top: 0;
        content: "";
        width: 100dvw;
        height: 100dvh;
        z-index: -1;
        opacity: 3%;
        pointer-events: none;
        filter: contrast(2) saturate(2);
      }
      body::before {
        background: url("/noise-texture.webp");
      }
    </style> -->
  </body>
</html>
