---
import BaseHead from '../components/seo/BaseHead.astro'
import Footer from '../components/Footer/Footer.astro'
import { SITE } from '../consts.ts'

type Props = {
  title?: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="es" class="font-serif">
  <head>
    <BaseHead
      title={title ? `${SITE.TITLE} · ${title}` : SITE.TITLE}
      description={SITE.DESCRIPTION}
    />
    <slot name="meta" />
  </head>

  <body>
    <slot name="header" />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
