---
interface Props {
  quote: string
  cite: string
  class?: string
}

const { quote, cite, class: className } = Astro.props
---

<div
  class="sm:bg-quotesColor/60 sm:px-4 rounded-lg border-l-2 sm:border-r-2 border-borderColor-accent/60"
>
  <blockquote
    class:list={[
      "text-right py-6 md:pr-0 rounded-none border-0 ml-auto",
      className,
    ]}
  >
    <q
      class="italic text-lg md:text-xl text-textColor-primary"
      set:html={quote}
    />
    <div class="mt-4">
      <cite class="text-right text-textColor-secondary" set:html={cite} />
    </div>
  </blockquote>
</div>
